// color variables
$color_1: green;
$color_2: plum;
$color_3: orange;
$color_4: teal;



// grid variables
$grid-columns: 4;
$grid-max-width: 65em;



// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
