@import "variables";
@import "mixins";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    @include border-box;

    }



  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

.wrapper:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 25%;
}

.color-1, .color-2, .color-3, .color-4 {
  height: 100px;
  width: 100%;
  padding: 1em 0;
}

@for $i from 1 through $grid-columns {
  .color-#{$i} {
    @extend %color-background-#{$i};
  }
  span {
    content: "$color-#{$i}";
  }
}

span {
  float: right;
  content: "";
}

// @media #{$breakpoint-medium} {
//   .wrapper {
//         width: 95%;
//         max-width: $grid-max-width;
//         }
//
//   @for $i from 1 through $grid-columns {
//     .column-#{$i} {
//       width: 100% / $grid-columns * $i;
//     }
//   }
// }
